.container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.form {
    margin: 0 auto;
    width: 920px;
    height: 520px;
    padding: 40px;
    border-radius: 24px;
    background-color: #f7f9fc;
    box-shadow: 17px 20px 40px rgba(228, 224, 224, 0.21);
    overflow-y: auto;
    scroll-margin-right: 200px;
    transition: all .3s;
    &:hover {
        box-shadow: 20px 20px 41px rgba(228, 224, 224, .26);
        transform: scale(1.019);
    }
    &::-webkit-scrollbar {
        width: 10px; left:-10px;
    }
    &__title {
        display: flex;
        align-items: flex-start;
        justify-content: flex-start;
        gap: 8px;
        font-weight: 600;
        font-size: 20px;
        line-height: 1.2;
        color: #1e1e1e;  
        margin: 20px 0 16px 0;
    }
    &__request {
        display: flex;
        justify-content: flex-end;
        margin-bottom: 40px;
        &-input {
            position: relative;
            width: 100%;
            border-radius: 8px;
            padding: 12px 20px;
            background: #edf4ff;
            border: none;
        }
        &-button {
            width: 56px;
            height: 40px;
            border-radius: 8px;
            background: #fff;
            border: none;
            cursor: pointer;
        }
    }
    &__wrapper {
            display: flex;
            gap: 12px;
            flex-wrap: wrap;
            justify-content: space-evenly;
            padding-bottom: 5px;
            &::-webkit-scrollbar {
                width: 100%;
                height: 8px;
            }
            &::-webkit-scrollbar-track {
                background: #edf4ff;
                border-radius: 20px;
            }
            &::-webkit-scrollbar-thumb {
                background: #e3eaf5;
                border-radius: 20px;
            }
        &-item {
            width: 160px;
            height: 160px;
            transition: all .3s;
            &:hover {
                transform: scale(1.1);
                box-shadow: 0 2px 4px rgba(0, 0, 0, .2);
            }
        }
        &-link {
            min-width: 160px;
            height: 160px;
        }
    }
}